.curious {
  display: flex;
  flex-direction: row;
  margin-left: 16px;
  margin-top: 15px;
}

.curiousIcon {
  background-color: #666666;
  width: 20px;
  border-radius: 50%;

  color: #fff;
  text-align: center;
  font-family: NotoSansCJKkr;
  font-size: 1px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -1.1px;
}

.curiousText {
  font-family: SUIT;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.72px;
  text-align: left;
  color: #303030;
  margin-left: 4px;
}

.starInfo {
  display: flex;
  flex-direction: column;
  margin: 0 16px;
  margin-top: 16px;
}

.starInfoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 328px;
  height: 75px;
  border-radius: 16px;
}

.holdStar {
  background-color: #f6f6f6;
}

.precaution {
  line-height: 20px;
  font-family: SUIT;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.72px;
  color: #303030;
  position: relative;
  margin-left: 18px;
  display: flex;
}

.precaution::before {
  content: "";
  position: absolute;
  height: 100%;
  border: solid 1px #dcdcdc;
  bottom: 0px;
}

.precaution .bar {
  width: 1px;
  height: 100%;
  background-color: #eee;
}

.precaution ul {
  list-style-type: disc;
  margin: 14px 0;
  margin-left: 13px;
}

.precaution li::marker {
  color: #dcdcdc;
  font-size: 12px;
}


.exchangeStar {
  background-color: #fff5f8;
}

.starName {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 16px;
  font-family: SUIT;
  font-size: 13px;
  font-weight: 600;
  color: #303030;
}
.starCount {
  margin-right: 14px;
  font-family: SUIT;
  font-size: 24px;
  font-weight: 600;
  color: #303030;
}
.starCount span {
  font-size: 15px;
}
.starImg {
  background-image: url(../img/star.png);
  background-size: 100%;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}
.exchangeStar .starCount {
  color: #ff3c7b;
}

.exchangeButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 16px 16px;
}

.calculate {
  background-color: #fff;
  width: 160px;
  height: 48px;
  border-radius: 16px;
  border: solid 2px #ff6999;

  font-family: SUIT;
  font-size: 16px;
  font-weight: 600;
  color: #ff6999;
}

.moonExchange {
  width: 160px;
  height: 48px;
  border-radius: 16px;
  background-color: #ff6999;

  font-family: SUIT;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
