* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

button {
  border: 0;
  outline: 0;
}

div {
  background-repeat: no-repeat;
}

button {
  border: 0;
  outline: 0;
}

.container {
  width: 100%;
  height: 2350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.popup {
  background-image: url("../1popUpImg/op_bg.png");
  width: 100%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.header {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: solid 1px white;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}

.header.fixed {
  position: fixed;
  top: 0;
  z-index: 99;
  background-color: #06378e;
}

.header.fixed .kiastImg {
  background-image: url("../2headerImg/headerIcon.png");
  background-position: -242px 0;
}

.header.fixed .popupZone {
  display: none;
}

.headerSwiper {
  width: 100%;
  height: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

.infoContainer {
  width: 100%;
  height: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-image: url("../3introduce/introduceBackImg.jpg");
  background-position: center center;
  background-size: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.vaneContainer {
  width: 170px;
  height: 155px;
  background-image: url("../3introduce/vane.png");
  background-position: 50% 50%;
  position: absolute;
  bottom: 210px;
  right: 400px;
  -webkit-animation: rotateImage;
          animation: rotateImage;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.vaneContainer2 {
  width: 123px;
  height: 118px;
  background-image: url("../3introduce/vane.png");
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
  top: 400px;
  right: 150px;
  z-index: -1;
  -webkit-animation: rotateImage;
          animation: rotateImage;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes rotateImage {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateImage {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
